{% extends 'base.html ' %}
{% block body %}
<div class="row">
    {% for i in movielist %}
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">{{i.name}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{i.year}}</h6>
                <a href="{% url 'movieapp:detail ' i.id %}" class="card-link">desc</a>
                  <img src="{{i.img.url}}" class="card-img-top" alt="..." width="100" height="100">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
